<!--<form>
  <div class="form-group">
    <label for="inputCourseName">Course Name</label>
    <input type="text" class="form-control" id="inputCourseName" placeholder="Angular BootCamp" [value]="courseElement.courseName">
  </div>
  <div class="form-group">
    <label for="inputCourseStartDate">Starting Date</label>
    <input type="time" class="form-control" id="inputCourseStartDate" placeholder="DD/MM/YYYY" [value]="courseElement.startdate">
  </div>
  <div class="form-group">
    <label for="inputCourseDuration">Duration</label>
    <input type="text" class="form-control" id="inputCourseDuration" [value]="courseElement.duration">
  </div>
  <div class="form-group">
    <label for="inputCourseTeacher">Duration</label>
    <select id class="form-control" id="inputCourseTeacher"></select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="reset" class="btn btn-default">Cancel</button>
</form>-->
{{courseElement | json}}