<div class="container" *ngIf="course">
  <h1>{{course.courseName}}</h1>
  <form (ngSubmit) = "onSubmit()" #courseForm="ngForm">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input type="text" 
            class="form-control" 
            id="courseName" 
            name = "courseName"
            [(ngModel)]="course.courseName"
            required #courseName="ngModel">
      <div [hidden]="courseName.valid || courseName.pristine" class="alert alert-danger">
          Please enter a Course Name.
        </div>
    </div>
    <div class="form-group">
      <label for="startedDate">Starting Date</label>
      <span class="badge" [ngStyle]="{background: validateDates(course.startedDate)}" >&nbsp;</span>
      <input type="date"
            class="form-control" 
            id="startedDate" 
            name="startedDate"
            [(ngModel)]="course.startedDate"
            required #startedDate="ngModel">
        <div [hidden]="startedDate.valid || startedDate.pristine" class="alert alert-danger">
          Please select a Starting Date.
        </div>
    </div>
    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="number"
            class="form-control" 
            id="duration" 
            name="duration"
            [(ngModel)]="course.duration"
            required #duration="ngModel">
      <div [hidden]="duration.valid || duration.pristine" class="alert alert-danger">
        Please select the course duration.
      </div>
      <div [hidden]="course.duration > 0" class="alert alert-danger">
        Duration must be grather than 0.
      </div>
    </div>
    <div class="form-group">
      <label for="taughtBy">Taught By</label>
      <div class="dropdown">
        <select class="form-control" 
              id="taughtBy"
              name="taughtBy"
              [(ngModel)]="course.taughtBy"
              required #taughtBy="ngModel">
              <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.teacherName}} {{teacher.teacherLastname}}</option>
        </select>
      </div>
      <div [hidden]="taughtBy.valid || taughtBy.pristine" class="alert alert-danger">
        Please select a teacher.
      </div>
    </div>
    <button type="button" 
        class="btn btn-primary"
        (click) = "onSubmit(); courseForm.reset()"
        [disabled]="!courseForm.form.valid">Save</button>
    <button type="button" 
        class="btn btn-default"
        routerLink="/Courses">Cancel</button>
  </form>
</div>