<div class="container">
  <h1>Yuxi Courses</h1>
  <h6>{{currentDate}}</h6>
  <button type="button" class="btn btn-default" aria-label="Right Align" [routerLink]="['/Courses', '-1']">
      <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> New course
  </button>
  <div class="row">
    <div class="col-md-10" style="height: 460px;">
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th style="width: 10%"></th>
              <th style="width: 20%">
                <mfDefaultSorter by="courseName">Name</mfDefaultSorter>
              </th>
              <th style="width: 40%">
                <mfDefaultSorter by="duration">Hours</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="startdate">Start Date</mfDefaultSorter>
              </th>
            </tr>
            <tr>
              <th colspan="4">
                Filter by name:
                <input class="form-control" [(ngModel)]="filterQuery" />
              </th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>
              <button (click)="remove(item)" class="btn btn-danger">x</button>
            </td>
            <td><a [routerLink]="['/Courses', item.courseId]">{{item.courseName}}</a></td>
            <td>{{item.duration}} h</td>
            <td>{{item.startDate | date: "yyyy/MM/dd"}} 
              <span class="badge" [ngStyle]="{background: validateDates(item.startDate)}">&nbsp;</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-2">
      <img src="./assets/imgs/courseList.png">
    </div>
  </div>
</div>