<div class="panel panel-default">
  <div class="panel-heading">Teachers</div>
    <table class="table table-striped" [mfData]="teacherList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th style="width: 10%"></th>
          <th style="width: 45%">
            <mfDefaultSorter by="teacherName">Name</mfDefaultSorter>
          </th>
          <th style="width: 45%">
            <mfDefaultSorter by="teacherLastname">Last Name</mfDefaultSorter>
          </th>
        </tr>
        <tr>
          <th colspan="3"> Filter by name: <input class="form-control" [(ngModel)]="filterQuery" /></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.teacherList">
        <td>
          <button class="btn btn-danger">x</button>
        </td>
        <td>{{item.teacherLastname}}</td>
        <td>{{item.teacherName}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>