<div class="container" *ngIf="teacher">
  <h1>{{teacher.teacherLastname}}, {{teacher.teacherName}}</h1>
  <form (ngSubmit)="onSubmit()" #teacherForm="ngForm">
    <div class="form-group">
      <label for="teacherName">Teacher Name</label>
      <input type="text" 
            class="form-control" 
            id="teacherName"
            name="teacherName"
            placeholder="Teacher Name" 
            [(ngModel)]="teacher.teacherName"
            required>
      <div [hidden] = "teacherName.valid || teacherName.pristine">
        Please write a Name.
      </div>
    </div>
    <div class="form-group">
      <label for="teacherLastname">Last Name</label>
      <input type="text" 
            class="form-control" 
            id="teacherLastname" 
            name="teacherLastname"
            placeholder="Teacher Last Name" 
            [(ngModel)]="teacher.teacherLastname"
            required>
      <div [hidden] = "teacherLastname.valid || teacherLastname.pristine">
        Please write a Last Name.
      </div>
    </div>
    <button type="button" 
        class="btn btn-primary"
        (click) = "onSubmit(); teacherForm.reset()"
        [disabled]="!teacherForm.form.valid">Save</button>
    <button type="button" 
        class="btn btn-default"
        routerLink="/Teachers">Cancel</button>
  </form>
</div>